---
layout: default
title: Home
---
<!-- IMAGE GALLERY -->
<div class="gallery container-fluid">
    
    {% assign oddrow = true %}
    {% for pic in site.data.homepics %}
        {% comment %} new row starts @ beginning or every 7 pictures {% endcomment %}
        {% assign mod8 = forloop.index | modulo: 8 %}
        {% assign iseven = forloop.index | modulo: 2 %}
        {% if forloop.first or mod8 == 0 %}
            <div class="row">
        {% endif %}

        {% comment %} COLUMN 1 {% endcomment %}
        {% if oddrow %}
            {% comment %} if we are on an odd row, first column has 2 pictures in it {% endcomment %}
            {% if mod8 == 1 %}
                <div class="col text-center">
                    <img class="" src="{{ pic.link }}" height={{ pic.height }} width={{ pic.width }}>
                {% continue %}
            {% elsif mod8 == 2%}
                    <img class="" src="{{ pic.link }}" height={{ pic.height }} width={{ pic.width }}>
                </div>
                {% continue %}
            {% endif %}
        {% elsif oddrow == false and mod8 == 0 %}
            {% comment %} else, we are on an even row, first column has 1 picture in it {% endcomment %}
            <div class="col text-center">
                <img class="" src="{{ pic.link }}" height={{ pic.height }} width={{ pic.width }}>
            </div>
            {% continue %}
        {% endif %}

        {% comment %} COLUMN 2 & 3 {% endcomment %}
        {% if oddrow %}
            {% comment %} every odd index is start of new column, as long as less than 7 {% endcomment %}
            {% if mod8 < 7 %}
                {% if iseven == 1 %}
                    <div class="col text-center">
                        <img class="" src="{{ pic.link }}" height={{ pic.height }} width={{ pic.width }}>
                    {% continue %}
                {% else %}
                        <img class="" src="{{ pic.link }}" height={{ pic.height }} width={{ pic.width }}>
                    </div>
                    {% continue %}
                {% endif %}
            {% endif %}
        {% else %}
            {% comment %} every even index is start of new column, as long as less than 7 {% endcomment %}
            {% if mod8 < 5%}
                {% if iseven == 1 %}
                    <div class="col text-center">
                        <img class="" src="{{ pic.link }}" height={{ pic.height }} width={{ pic.width }}>
                    {% continue %}
                {% else %}
                        <img class="" src="{{ pic.link }}" height={{ pic.height }} width={{ pic.width }}>
                    </div>
                    {% continue %}
                {% endif %}
            {% endif %}
        {% endif %}

        {% comment %} COLUMN 4 {% endcomment %}
        {% if oddrow %}
            {% comment %} odd row has 1 image {% endcomment %}
                <div class="col text-center">
                        <img class="" src="{{ pic.link }}" height={{ pic.height }} width={{ pic.width }}> 
                </div>
            </div>
            {% assign oddrow = false %}
            {% continue %}
        {% else %}
            {% comment %} even row has 2 images {% endcomment %}
            {% if iseven == 1 %}
                <div class="col text-center">
                    <img class="" src="{{ pic.link }}" height={{ pic.height }} width={{ pic.width }}>
                {% continue %}
            {% else %}
                        <img class="" src="{{ pic.link }}" height={{ pic.height }} width={{ pic.width }}>
                    </div>
                </div>
                {% assign oddrow = true %}
                {% continue %}
            {% endif %}
        {% endif %}
    {% endfor %}

</div>
