---
layout: default
title: Home
---
<div class="container">
    {% assign flip = false %}
    {% for pic in site.data.homepics %}
        {% assign remainder2 = forloop.index | modulo: 2 %}
        {% assign remainder5 = forloop.index | modulo: 5 %}
        {% unless flip %}
            {% if forloop.first %}
                <div class="row justify-content-center">
            {% endif %}
            {% if remainder5 == 0 %}
                    <div class="col-2 flex-fill">
                        <img class="m-1 w-100" src="{{ pic.link }}" height=408>
                    </div>
                </div>
                {% unless forloop.last %}
                    {% assign flip = true %}
                    <div class="row justify-content-center">
                {% else %}
                    </div>
                {% endunless %}
            {% elsif remainder2 == 1 %}
                    <div class="col-2 flex-fill">
                        <img class="m-1 w-100" src="{{ pic.link }}" height=200>
            {% elsif remainder2 == 0 %}
                        <img class="m-1 w-100" src="{{ pic.link }}" height=200> 
                    </div>
            {% endif %}
        {% else %}
            {% assign remainder6 = forloop.index | modulo: 6 %}
            {% if remainder6 == 0 %}
                <div class="col-2  flex-fill">
                    <img class="m-1 w-100" src="{{ pic.link }}" height=408>
                </div>
            {% elsif remainder2 == 1 %}
                <div class="col-2  flex-fill">
                    <img class="m-1 w-100" src="{{ pic.link }}" height=200>
            {% elsif remainder2 == 0 %}
                    <img class="m-1 w-100" src="{{ pic.link }}" height=200>
                </div>
            {% endif %}
            {% if remainder5 == 0 %}
                </div>
                {% if forloop.last %}
                    </div>
                {% else %}
                    {% assign flip = false %}
                    <div class="row justify-content-center">
                {% endif %}
            {% endif %}
        {% endunless %}
    {% endfor %}
</div>
<h1 class="text-center display-2"> Welcome </h1>
<div>
    <p class="p-5 mb-0">
        LORNE AND KATE IS THE BEST !!
    </p>
</div>
