<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav nav-tabs mr-auto w-100">
                {% for item in site.data.navigation %}
                    {% if item.dropdown %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle{% if page.dir == "/wedding/" and item.name == "Wedding"%}  fw-bold active" aria-current="page"{% else %} text-dark"{% endif %}data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ item.name }}</a>
                        <ul class="dropdown-menu">
                        {% for subitem in item.dropitems %}
                            <li><a class="dropdown-item text-dark" href="{{ subitem.link }}"{% if item.name == "Registry"%} target="_blank"{% endif %}>{{subitem.name}}</a></li>
                        {% endfor %}
                        </ul>
                    </li>
                    {% else%}
                    <li  class="nav-item">
                        <a href="{{ item.link }}" class="nav-link{% if page.url == item.link %}  fw-bold active" aria-current="page"{% else %} text-dark"{% endif %}>{{ item.name }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
                    
            </ul>
        </div>
        <div class="nav-item ms-auto">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
        </div>
    </div>
</nav>

<!-- login modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- TODO -->
                LOGIN FUNCTIONALITY COMING SOON
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>