---
---

@font-face {
    font-family: BacktoblackWeb;
    src: url("/assets/fonts/back-to-black/back-to-black-demo/Back\ to\ Black\ Demo.ttf") format("truetype");
}

.backtoblackLandingText {
    font-family: BacktoblackWeb;
    color: #fff;
    font-size: 4vw;
    padding-top: 90px;
    padding-left: 100px;
    text-shadow: -1px 1px 0 #000,
                  1px 1px 0 #000,
                  1px -1px 0 #000,
                 -1px -1px 0 #000;
}

@media (max-width: 420px){
    .backtoblackLandingText {
        color: #fff;
        font-size: 9.5vw;
        padding-top: 60px;
        padding-left: 25px;
    }

    .name {
        padding-left: 10vw;
    }
    
    .date {
        padding-left: 15vw;
    }

}