---
---

@font-face {
    font-family: BacktoblackWeb;
    src: url("/assets/fonts/back-to-black/back-to-black-demo/Back\ to\ Black\ Demo.ttf") format("truetype");
}

.backtoblackFont {
    font-family: BacktoblackWeb;
}

.backtoblackLandingText {
    color: #fff;
    font-size: 4vw;
    margin-top: 4vw;
}

.name {
    padding-left: 20vw;
}

.date {
    padding-left: 25vw;
}

@media (max-width: 420px){
    .backtoblackLandingText {
        color: #fff;
        font-size: 9.5vw;
        margin-top: 9vw;
    }

    .name {
        padding-left: 10vw;
    }
    
    .date {
        padding-left: 15vw;
    }

}