---
---

.gallery {
    background-image: url("/assets/images/temp/b10.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

#landingImage {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: peru;
    width: 100%;
    height: 200px;
    background-image: url("/assets/images/banner/banner.jpg");
    background-position: bottom 34% right 0%;
}
